@charset "utf-8";

	.st0{fill:#49401D;}
	.st1{fill:#665B25;}
	.st2{fill:#23200D;}
	.st3{fill:#3F3B2A;}
	.st4{fill:#63404B;}
	.st5{fill:#9E9463;}
	.st6{fill:#422C33;}
	.st7{fill:#60573E;}
	.st8{fill:#605B46;}
	.st9{fill:#605746;}
	.st10{clip-path:url(#SVGID_00000173139653940082458740000009418885896328453802_);}
	.st11{fill:#E1CEB3;}
	.st12{fill:none;stroke:#151012;stroke-width:12;stroke-miterlimit:10;}
	.st13{fill:#FFFFFF;stroke:#14120F;stroke-width:12;stroke-miterlimit:10;}
	.st14{fill:#FFFFFF;}
	.st15{fill:none;stroke:#260E14;stroke-width:3;stroke-miterlimit:10;}
	.st16{fill:#230D13;}
	.st17{fill:#211A0D;}
	.st18{fill:#231C0D;}
	.st19{fill:none;stroke:#23190D;stroke-width:5;stroke-miterlimit:10;}
	.st20{fill:none;stroke:#231B0D;stroke-width:3;stroke-miterlimit:10;}
	.st21{fill:#665A25;}
	.st22{fill:#846E32;}
	.st23{fill:#847432;}
	.st24{fill:#2D2814;}
	.st25{fill:#FFE52F;}
	.st26{fill:#847A32;}
	.st27{fill:#F2F2F2;}
	.st28{fill:#5E5C5C;}
	.st29{fill:#CCCCCC;}
	.st30{fill:#8C8B8B;}
	.st31{fill:#C6C6C6;}
	.st32{fill:#564121;}
	.st33{fill:#775929;}