@charset "utf-8";

	.st0{fill:#461C47;}
	.st1{fill:#662664;}
	.st2{fill:#210D20;}
	.st3{fill:#421C47;}
	.st4{fill:#3C293D;}
	.st5{fill:#63404B;}
	.st6{fill:#9B629B;}
	.st7{fill:#422C33;}
	.st8{fill:#5C455E;}
	.st9{fill:#5E455D;}
	.st10{clip-path:url(#SVGID_00000112603107583433689270000004604169839674454401_);}
	.st11{fill:#DCB3E0;}
	.st12{fill:none;stroke:#151012;stroke-width:12;stroke-miterlimit:10;}
	.st13{fill:#FFFFFF;stroke:#14120F;stroke-width:12;stroke-miterlimit:10;}
	.st14{fill:#FFFFFF;}
	.st15{fill:none;stroke:#260E14;stroke-width:3;stroke-miterlimit:10;}
	.st16{fill:#200D21;}
	.st17{fill:#1E0C1E;}
	.st18{fill:#1F0D21;}
	.st19{fill:none;stroke:#23190D;stroke-width:5;stroke-miterlimit:10;}
	.st20{fill:none;stroke:#231B0D;stroke-width:3;stroke-miterlimit:10;}
	.st21{fill:#5E2666;}
	.st22{fill:#7A3382;}
	.st23{fill:#783382;}
	.st24{fill:#27132B;}
	.st25{fill:#FFE52F;}
	.st26{fill:#F2F2F2;}
	.st27{fill:#5E5C5C;}
	.st28{fill:#CCCCCC;}
	.st29{fill:#8C8B8B;}
	.st30{fill:#C6C6C6;}
	.st31{fill:#564121;}
	.st32{fill:#775929;}