@charset "utf-8";

	.st0{fill:#260E14;}
	.st1{fill:#5A2B38;}
	.st2{fill:#601521;}
	.st3{fill:#230D13;}
	.st4{fill:#422C33;}
	.st5{fill:#63404B;}
	.st6{fill:#A06374;}
	.st7{fill:#61464E;}
	.st8{clip-path:url(#SVGID_00000160898130285147532100000001240744216466044572_);}
	.st9{fill:#E1B2BF;}
	.st10{fill:none;stroke:#151012;stroke-width:12;stroke-miterlimit:10;}
	.st11{fill:#FFFFFF;stroke:#151012;stroke-width:12;stroke-miterlimit:10;}
	.st12{fill:#FFFFFF;}
	.st13{fill:none;stroke:#260E14;stroke-width:3;stroke-miterlimit:10;}
	.st14{fill:none;stroke:#260E14;stroke-width:5;stroke-miterlimit:10;}
	.st15{fill:#66243A;}
	.st16{fill:#873254;}
	.st17{fill:#F2F2F2;}
	.st18{fill:#5E5C5C;}
	.st19{fill:#CCCCCC;}
	.st20{fill:#8C8B8B;}
	.st21{fill:#C6C6C6;}
	.st22{fill:#564121;}
	.st23{fill:#775929;}
	.st24{fill:#2E1420;}
	.st25{fill:#FFE52F;}