@charset "utf-8";

	.st0{fill:#6B2D3E;}
	.st1{fill:#55131B;}
	.st2{fill:#6E1A25;}
	.st3{fill:#43121A;}
	.st4{fill:#311114;}
	.st5{fill:#CCCCCC;}
	.st6{fill:#5E5C5C;}
	.st7{fill:#F2F2F2;}
	.st8{fill:#49131B;}
	.st9{fill:#FFFFFF;}

