@charset "utf-8";

	.st0{fill:#6C2D3E;}
	.st1{fill:#54151C;}
	.st2{fill:#6F1A25;}
	.st3{fill:#42131A;}
	.st4{fill:#41141B;}
	.st5{fill:#0D090A;}
	.st6{fill:#251218;}
	.st7{fill:#240F14;}
	.st8{fill:#F2F2F2;}
	.st9{fill:#5E5C5C;}