@charset "utf-8";

	.st0{fill:#3D1E26;}
	.st1{fill:#261015;}
	.st2{fill:#601521;}
	.st3{clip-path:url(#SVGID_00000017518315540815785630000004186431670480112308_);}
	.st4{fill:#3C171F;}
	.st5{fill:#481921;}
	.st6{fill:#6A2735;}
	.st7{fill:#B1939C;}
	.st8{fill:none;stroke:#2C1B20;stroke-width:7;stroke-miterlimit:10;}
	.st9{fill:#FDE482;}
	.st10{fill:#2C1B20;}
	.st11{fill:#471A21;}
	.st12{fill:none;stroke:#803646;stroke-width:4;stroke-miterlimit:10;}
	.st13{fill:#F2F2F2;stroke:#5E5C5C;stroke-width:3;stroke-miterlimit:10;}
	.st14{fill:#FFFFFF;}