@charset "utf-8";

	.st0{fill:#261015;}
	.st1{fill:#FFFFFF;}
	.st2{fill:none;stroke:#261015;stroke-width:3;stroke-miterlimit:10;}
	.st3{fill:#601521;}
	.st4{fill:#240F14;}
	.st5{fill:#3D1E26;}
	.st6{fill:#E0B1BD;}
	.st7{fill:none;stroke:#161213;stroke-width:12;stroke-miterlimit:10;}
	.st8{fill:#FFFFFF;stroke:#161213;stroke-width:12;stroke-miterlimit:10;}
	.st9{clip-path:url(#SVGID_00000001623009471011238440000003612846181937446785_);}
	.st10{fill:#481921;}
	.st11{fill:#6A2735;}
	.st12{fill:#3C171F;}
	.st13{fill:none;stroke:#935C66;stroke-width:9;stroke-miterlimit:10;}
	.st14{fill:#F2F2F2;}
	.st15{fill:#5E5C5C;}