@charset "utf-8";

	.st0{fill:#6C2D3E;}
	.st1{fill:#54151C;}
	.st2{fill:#6F1A25;}
	.st3{fill:#42131A;}
	.st4{fill:#301416;}
	.st5{fill:#3A1C23;}
	.st6{fill:#48151C;}
	.st7{fill:#F2F2F2;}
	.st8{fill:#5E5C5C;}