@charset "utf-8";

	.st0{fill:#5A2C39;}
	.st1{fill:#601521;}
	.st2{fill:#070405;}
	.st3{fill:#B1939C;}
	.st4{fill:#240F14;}
	.st5{fill:#261015;}
	.st6{fill:#5B3940;}
	.st7{fill:#342126;}
	.st8{fill:#472E34;}
	.st9{fill:#875667;}
	.st10{fill:#481921;}
	.st11{fill:#6A2735;}
	.st12{fill:#F2F2F2;stroke:#5E5C5C;stroke-width:3;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#935C66;stroke-width:9;stroke-miterlimit:10;}
	.st14{fill:none;stroke:#2C1B20;stroke-width:7;stroke-miterlimit:10;}
	.st15{fill:#FDE482;}
	.st16{fill:#2C1B20;}